
data/dev.db
data/dev_tok.jsonl
data/dev_tok.tables.jsonl
data/test.db
data/test_tok.jsonl
data/test_tok.tables.jsonl
data/train.db
data/train_tok.jsonl
data/train_tok.tables.jsonl
glove/glove.42B.300d.txt
glove/glove.6B.50d.txt
id2embed.json
id2embedWordPiece.json
id2tok.json
id2tokWordPiece.json
para-nmt-50m/data/paragram_sl999_czeng.txt
saved_model_kg/epoch1.agg_embed
saved_model_kg/epoch1.agg_model
saved_model_kg/epoch1.cond_embed
saved_model_kg/epoch1.cond_model
saved_model_kg/epoch100.agg_embed
saved_model_kg/epoch2.agg_embed
saved_model_kg/epoch2.agg_model
saved_model_kg/epoch2.cond_embed
saved_model_kg/epoch2.cond_model
saved_model_kg/epoch3.agg_embed
saved_model_kg/epoch3.agg_model
saved_model_kg/epoch84.agg_embed
saved_model_kg/epoch85.agg_embed
saved_model_kg/epoch86.agg_embed
saved_model_kg/epoch87.agg_embed
saved_model_kg/epoch88.agg_embed
saved_model_kg/epoch89.agg_embed
saved_model_kg/epoch96.agg_embed
saved_model_kg/epoch97.agg_embed
saved_model_kg/epoch98.agg_embed
saved_model_kg/epoch99.agg_embed
saved_model_kg/old_sqlnet.agg_embed
saved_model_kg/old_sqlnet.agg_model
saved_model_kg/old_sqlnet.cond_embed
saved_model_kg/old_sqlnet.cond_model
saved_model_kg/old_sqlnet.sel_embed
saved_model_kg/old_sqlnet.sel_model
saved_model_kg/epoch90.agg_embed
saved_model_kg/epoch91.agg_embed
saved_model_kg/epoch92.agg_embed
saved_model_kg/epoch93.agg_embed
saved_model_kg/epoch94.agg_embed
saved_model_kg/epoch95.agg_embed
saved_model_kg/epoch1.sel_embed
saved_model_kg/epoch1.sel_model
saved_model_kg/epoch10.agg_embed
saved_model_kg/epoch2.sel_embed
saved_model_kg/epoch2.sel_model
saved_model_kg/epoch3.cond_embed
saved_model_kg/epoch3.cond_model
saved_model_kg/epoch3.sel_embed
saved_model_kg/epoch3.sel_model
saved_model_kg/epoch4.agg_embed
saved_model_kg/epoch4.agg_model
saved_model_kg/epoch4.cond_embed
saved_model_kg/epoch4.cond_model
saved_model_kg/epoch4.sel_embed
saved_model_kg/epoch4.sel_model
saved_model_kg/epoch5.agg_embed
saved_model_kg/epoch5.sel_embed
saved_model_kg/epoch5.sel_model
saved_model_kg/epoch6.agg_embed
saved_model_kg/epoch6.agg_model
saved_model_kg/epoch6.sel_embed
saved_model_kg/epoch6.sel_model
saved_model_kg/epoch7.agg_embed
saved_model_kg/epoch8.agg_embed
saved_model_kg/epoch8.agg_model
saved_model_kg/epoch9.agg_embed
saved_model_kg/epoch5.agg_model
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
__pycache__/bert_utils.cpython-37.pyc
__pycache__/retokenizer.cpython-37.pyc
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
__pycache__/bert_utils.cpython-37.pyc
id2embedMean.json
id2tokMean.json
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
id2embedMax.json
id2tokMax.json
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
__pycache__/bert_utils.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
__pycache__/bert_utils.cpython-37.pyc
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
__pycache__/bert_utils.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
__pycache__/bert_utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
__pycache__/bert_utils.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
__pycache__/bert_utils.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
__pycache__/bert_utils.cpython-37.pyc
bert/id2embedMax100.json
bert/id2embedMaxFull.json
bert/id2embedMean100.json
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
.ipynb_checkpoints/bert_embeddings-checkpoint.ipynb
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
typesql/__pycache__/utils.cpython-37.pyc
typesql/model/__pycache__/sqlnet.cpython-37.pyc
typesql/model/modules/__pycache__/condtion_op_str_predict.cpython-37.pyc
typesql/model/modules/__pycache__/sel_condition_predict.cpython-37.pyc
typesql/model/modules/__pycache__/word_embedding.cpython-37.pyc
